<div class="row">
	<div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
		<div class="dp-herolistcontainer">
			<div class="dp-herosearchcontainer">
				<input type="search" id="filterInput" class="form-control dp-herosearch" placeholder="Search" autofocus [(ngModel)]="filterString" *ngIf="!touchBrowser">
			</div>
			<ul class="nav nav-pills nav-stacked dp-herolist">
				<li class="nav-item" *ngFor="#hero of heroes | filterHeroes:filterString">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-success" title="Add to my team" (click)="addFriendsSelected(hero)"><i class="fa fa-plus"></i></button>
						<span class="btn dp-herolistimg" style="background-image: url({{hero.img}});" title="{{hero.name}}"><span class="dp-herolistimgtext">{{hero.name}}</span></span>
						<button type="button" class="btn btn-danger" title="Add to enemy team" (click)="addEnemiesSelected(hero)"><i class="fa fa-plus"></i></button>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-10 col-md-9 col-sm-8 col-xs-7 dp-selectioncontainer" [hidden]="enemiesSelected.length < 1 && friendsSelected.length < 1">
		<div class="row">
			<button class="btn btn-primary center-block" (click)="removeAllSelected()">Clear</button>
		</div>
		<br>
		<div class="row" style="min-height: {{imageHeight}}px;">
			<div class="col-md-6 col-xs-12">
				<div><h6 class="text-danger">Enemy team:</h6></div>
				<img *ngFor="#hero of enemiesSelected" (click)="removeEnemiesSelected(hero)" src="{{hero.img}}" class="img" width="{{imageWidth}}" title="Click to remove">
			</div>
			<div class="col-md-6 col-xs-12">
				<div><h6 class="text-success">My team:</h6></div>
				<img *ngFor="#hero of friendsSelected" (click)="removeFriendsSelected(hero)" src="{{hero.img}}" class="img" width="{{imageWidth}}" title="Click to remove">
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<h5 class="dp-matchuprowtitle">Side/core<span class="hidden-md-down"> heroes</span></h5>
				<div class="list-group">
					<div *ngFor="#heroMatchup of coreMatchups" class="list-group-item dp-matchupcell {{heroMatchup.class}}">
						<dp-matchup [heroMatchup]="heroMatchup"></dp-matchup>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<h5 style="text-align: center;">Mid<span class="hidden-md-down"> heroes</span></h5>
				<div class="list-group">
					<div *ngFor="#heroMatchup of midMatchups" class="list-group-item dp-matchupcell {{heroMatchup.class}}">
						<dp-matchup [heroMatchup]="heroMatchup"></dp-matchup>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<h5 style="text-align: center;">Support<span class="hidden-md-down"> heroes</span></h5>
				<div class="list-group">
					<div *ngFor="#heroMatchup of supportMatchups" class="list-group-item dp-matchupcell {{heroMatchup.class}}">
						<dp-matchup [heroMatchup]="heroMatchup"></dp-matchup>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-10 col-md-9 col-sm-8 col-xs-7 dp-selectioncontainer" [hidden]="enemiesSelected.length > 0 || friendsSelected.length > 0">
		<div class="jumbotron">
			<div class="container-fluid">
				<h1 style="text-align: center;">Dota Team Picker</h1>
				<h3 style="text-align: center;">by <a href="http://steamcommunity.com/id/richmartel/">NoMercy</a></h3>
				<br>
				<h4>What is this?</h4>
				<ul style="text-shadow: none;">
					<li>Most apps like this one are referred to as &quot;counter-pickers&quot; for the game <a href="http://blog.dota2.com/">Dota 2</a></li>
					<li>It is a way to build the best possible team by countering the enemy picks</li>
					<li>This app also takes teammate combinations into account in order to pick the most effective team</li>
				</ul>
				<h4>How to use?</h4>
				<ul style="text-shadow: none;">
					<li>When the enemy picks a hero, click the <span class="text-danger">red [+] button</span> to add that hero to the enemy team</li>
					<li>When a teammate picks a hero, click the <span class="text-success">green [+] button</span> to add that hero to your team</li>
					<li>You can remove individual heroes by clicking on their images in the team selection area</li>
					<li>The main matchup area will show the best picks for side/core, mid, and support heroes</li>
					<li>Remember, it will be up to you to pick the right hero for your situation, this app only provides general statistics</li>
					<li><span class="text-info">Blue = Great picks</span>, <span class="text-success">Green = Good picks</span>, White = Decent picks, <span class="text-warning">Yellow = Possibe bad picks</span>, <span class="text-danger">Red = Very bad picks</span></li>
				</ul>
				<h4>Why use this counter-picker over others?</h4>
				<ul style="text-shadow: none;">
					<li>Its extremely fast</li>
					<li>Its the only counter picker I have found that takes the winrate for that hero matchup into account (most counter-pickers only use advantages)</li>
					<li>It has a unique sorting method that takes both winrates and advantages into account to make sure that the best picks show up at the top</li>
					<li>Teammate lineup is weighted half as much as enemy lineup in order to make sure the focus is on countering the enmies picks</li>
					<li>Enemy carries are weighted more than other heroes so that the counters will be more focused around that carry</li>
					<li>It color-highlights good and bad picks to make it easy to notice</li>
					<li>On desktops, you can search via the Dota 2 name (Spirit Breaker), the Dota 1 names (Barathrum), or the abbreviations (sb)</li>
					<li>It works on your tablet or even smartphone (although phone is not recommended)</li>
				</ul>
				<h4>How it works?</h4>
				<ul style="text-shadow: none;">
					<li>The data used to determine best picks is gathered from <a href="http://www.dotabuff.com/">Dotabuff</a> matchup data, and <a href="http://dotamax.com/">Dotamax</a> teammate data</li>
					<li>The data is gathered using an external perl script that builds the data import; I run this periodically</li>
					<li>Win rates are averaged based on the heroes picked</li>
					<li>Advantages are the (average advantage + cumulative advantage) / 2</li>
				</ul>
				<h4>Inspiration and history?</h4>
				<ul style="text-shadow: none;">
					<li>I initially started playing with an app from onur on github called <a href="http://onur.github.io/DotaBuffCP/">DotabuffCP</a></li>
					<li>Because I could not make the changed I wanted to onurs app, I re-wrote the app in <a href="https://angular.io/">Angular 2</a> and <a href="http://v4-alpha.getbootstrap.com/">Bootstrap 4</a> so that I could have greater control over the math and sorting</li>
					<li>I then thought it would be cool to add teammate data, which can only be found on Datamax (chinese focused version of Dotabuff), so I had to jump through some hoops to get the webpage parser to get the correct data</li>
					<li>After about a weeks worth of work, I finally got everything working properly</li>
				</ul>
				<h4>Credits?</h4>
				<ul style="text-shadow: none;">
					<li><a href="http://steamcommunity.com/profiles/76561198031077846">Relentless</a> - My teammate, QA tester, and patient friend</li>
					<li><a href="https://github.com/onur">Onur Aslan</a> - For providing a decent counter picker that others could look at</li>
					<li><a href="http://dotabuff.com">Dotabuff</a> &amp; <a href="http://dotamax.com">Dotamax</a> - For providing the data</li>
					<li><a href="http://dota2.com">Dota 2</a> - For the addictive and highly competitive game</li>
				</ul>
				<h4>Interested in contributing?</h4>
				<ul style="text-shadow: none;">
					<li><a href="https://github.com/RichMartel/DotaTeamPicker">Github</a> - Feel free to make pull requests for any changes, or send me feature requests</li>
				</ul>
			</div>
		</div>
	</div>
</div>
